@{
    ViewBag.Title = "Статус";
}


<h2>СТАТУС СЕРВЕРА</h2>

<div class="status-content">
    <div class="diagram"></div>
    <div class="status-info-text">
        <p>Сервер: @(ViewBag.IsWork ? "включен" : "выключен")</p>
        <p>Домен сервера: @ViewBag.HostName</p>
        <p>IP-адрес сервера: @ViewBag.IP</p>
        <p>Количество игроков на сервере: @ViewBag.CountGamers</p>
        <p>Количество установленных игр на сервере: @ViewBag.CountGames</p>
        <p>Количество игровых сессий в текущий момент: @ViewBag.CountGameSessions</p>
    </div>
    <div class="server-control">
        <input type='button' id="submit" value='Запустить' />
        
    </div>
</div>