<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/style.css"/>

</head>
<body>
    
    
<div class="karkas">
    <div class="header">
        <a href="/"><img class="logo" src="/Images/logo.PNG"></a>
        <div class="header-user">
            <a href="#"><img class="img-event" src="/Images/event.PNG" alt=""></a>
            <a href="#"><img class="img-user" src="/Images/icon.png"></a>
            <a href="#" class="admin-text">Admin</a>
        </div>
                
    </div>
    <div class="sidebar">
        <ul>
            <li><a href="#">Статус</a></li>
            <li><a href="#">Игры</a></li>
            <li><a href="@Url.Action( "Users", "Home")">Пользователи</a></li>
            <li><a href="#">Настройки</a></li>
            <li><a href="#">О сервере</a></li>
        </ul>
              
    </div>
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    

</div>



    @RenderSection("scripts", required: false)
</body>
</html>
